{% extends "base.html" %} {% load static %} {% block content %}
<!--begin::Head-->
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <!--begin::Main-->
    <!--begin::Header Mobile-->
    {% include "parts/header-mobile.html" %}
    <!--end::Header Mobile-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="d-flex flex-row flex-column-fluid page">
            <!--begin::Aside-->
            {% include "parts/aside.html" with menu_parent='groups' menu_child='group_create' %}
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                <!--begin::Header-->
                {% include "parts/header.html" %}
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <div class="d-flex flex-column-fluid">
                        <div class="container">
                            <div class="card card-custom">
                                <div class="card-header">
                                    <h3 class="card-title">Creating Group</h3>
                                </div>
                                <!--begin::Form-->
                                <form class="form" method="post" enctype="multipart/form-data">
                                    {%csrf_token%}
                                    <div class="card-body">
                                        {% for field in form %}

                                        <div class="form-group row">
                                            <label class="col-form-label text-right col-lg-3 col-sm-12" for="{{field.auto_id}}">
                                                {% if field.field.required %}
                                                <b>{{field.label}}</b>
                                                {% else %}
                                                {{field.label}} 
                                                {% endif %}
                                            </label>
                                            <div class='col-lg-9 col-md-9 col-sm-12'>
                                                <span style="color:red;">{{field.errors}}</span>
                                                {{field}}
                                            </div>
                                        </div>
                                        {% endfor %}    
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-2"></div>
                                            <div class="col-10">
                                                <button type="submit" class="btn btn-success mr-2" name="saved">
                                                   Save 
                                                </button>
                                                <button type="submit" class="btn btn-success mr-2" name="save-create">
                                                   Save and add new
                                                </button>
                                                <a href="{% url 'common:group-list' %}" class="btn btn-secondary"><span>Cancel</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .d-flex.flex-column-fluid -->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->
                {% include "parts/footer.html" %}
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Main-->
    <!-- begin::User Panel-->
    {% include "parts/user-panel.html" %}
    <!--begin::Quick Cart-->
    <!--end::Quick Cart-->
    <!--begin::Quick Panel-->
    <!--end::Quick Panel-->
    <!--begin::Chat Panel-->
    <!--end::Chat Panel-->
    <!--begin::Scrolltop-->
    {% include "parts/scrolltop.html" %}
    <!--end::Scrolltop-->
    <!--begin::Sticky Toolbar-->
    <!--end::Sticky Toolbar-->
    <!--begin::Demo Panel-->
    <!--end::Demo Panel-->
</body>
<!--end::Body-->
{% endblock %}
