<form method="get">
  <div class="form-group row">
    <div class="col-lg-3 col-md-9 col-sm-12 mb-lg-0 mb-6 ml-10 mt-5">
      <input
        type="text"
        class="form-control datatable-input"
        placeholder="Search"
        value="{{request.GET.search}}"
        name="search"
        data-col-index="0"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary font-weight-bolder mt-5 ml-7 mb-1"
    >
      <span class="nav-icon">
        <i class="fas fa-search"></i>
      </span>
      <span class="nav-text">Search</span>
    </button>
  </div>
</form>
